body {
	background-color:black;

}

#header {
	margin-top: 20px;
	margin-bottom: 20px;
	color:white;
	font-family:"Arial", Sans-serif;
	font-size:30px;
	text-align:right;
	width:800px;
}

#image {

}

.thumb {
	margin-bottom: 20px;
	margin-left: 20px;
}

#description {
	position: absolute;
	text-align:right;
	margin-top:80px;
	width:400px;
	left:400px;
	color:white;
	font-family:"Arial", Sans-serif;
	font-size:15px;
}

a {text-decoration:none;}

.link {
	text-decoration:none;
	font-family:"Arial", Sans-serif;
}
.link:link {color:white;}
.link:visited {color:grey;}
.link:hover {
	color:white;
	font-style:italic;
}
.link:active {color:white;}


#prev {
	position:absolute;
	bottom:40px;
}

#next {
	position:absolute;
	bottom:40px;
	width:400px;
	left:400px;
	text-align:right;
}

#footer {
	position:absolute;
	bottom:20px;
	color:white;
	font-family:"Arial", Sans-serif;
	font-size: 10px;
}

