#top {
	max-width: 100%;
	margin-top:3%;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0 auto;
	font-family: courier;
}
#main {
	margin: 0 auto;
	max-width: 80%;
	min-height: 100%;
}

a {text-decoration:none;}

h1 {

	font-size: extra-large;
	font-style:normal;
	display: inline;
}

#buy {
	font-style:italic;
	display:table;
	display:inline;
	margin-top: 10%;
	margin-bottom: 10%;
}

#buy li {
	display: table-cell;
	margin: 5%;
}

#buy a {
	display: inline;
}

#buy img {
	max-width: 25%;
	vertical-align: middle;

}

p {
	font-size: small;
	max-width: 100%;
}

#footer {
	background: white;
	bottom:0px;
	text-align:center;
}

#images {
	position:relative;
	left:0;
	background: black;
}

#images img {
	max-width: 100%;
	margin-top: 2%;
	margin-bottom:2%;
}

#scroll {
	text-align:center;
	margin-top: 10%;
	bottom: 0px;
}
